fastapi
uvicorn
python-dotenv
sqlalchemy
groq
fastmcp
python-multipart
google-generativeai
google-adk
chromadb
bcrypt
python-jose[cryptography]
mcp
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu